.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.subtitle {
    font-style: italic;
    font-size: 1.25rem;
}

.article > *:not(:last-child),
.section > *:not(:last-child) {
    margin-bottom: 4px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 6px;
}

.section > *:not(img) {
    padding: 0px 8px;
}
