.main {
    padding: 8px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 30%;
}

.subtitle {
    font-style: italic;
    font-size: 1.25rem;
}

.link_quote {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border-radius: 5px;
    background-color: #009900;
    font-weight: 600;
    color: #fff;
}

.article > *:not(:last-child) {
    margin-bottom: 4px;
}

.article section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 6px;
}

.article section > *:not(:last-child) {
    margin-bottom: 4px;
}

.img.fullscreen {
    width: 100vw;
}
