@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body.menu__show {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.icon__green-beacon {
    fill: rgb(1, 180, 1);
}

.main {
    padding: 0 8px;
}

.nav {
    height: 64px;
    padding: 8px;
    border-bottom: 1px solid lightgray;

    box-shadow: 0px 1px 3px lightgray;

    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.25rem;
}

.btn__menu {
    border: none;
    background: none;
    cursor: pointer;
}

.icon__menu.menu__show {
    display: none;
}

.icon__close {
    display: none;
}

.icon__close.menu__show {
    display: block;
}

.btn__menu__spacer {
    height: 64px;
    padding: 8px;
    display: flex;
    justify-content: end;
    width: 100%;
}

.menu {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #fff;
}

.menu.menu__show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu__items > .menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(1, 180, 1);
    border-radius: 15px;
    padding: 8px 12px;
}